@model Booking_Tour.Models.Users
@{
    ViewBag.Title = "SettingsAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container user-account">
    <div class="row">
        <div class="col-3 d-flex flex-column justify-content-center">
            <div class="profile-user-img">
                <img src="~/Content/images/User/@Html.DisplayFor(model => model.avatar)" alt="Alternate Text" class="img-fluid" />
                <i class="fas fa-camera-retro update-img" data-toggle="modal" data-target="#myModal"></i>
            </div>
            <div class="w-100 text-center">
                <p class="m-0"><b>@Html.DisplayFor(model => model.name)</b></p>
                <p class="m-0">@Html.DisplayTextFor(model => model.email)</p>
            </div>
        </div>
        <div class="col-9">
            @using (Html.BeginForm("Profiles", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.avatar)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" class="form-control" value="@Html.DisplayTextFor(model => model.email)" disabled />
                    @Html.HiddenFor(model => model.email)
                </div>
                <div class="form-group">
                    <label for="userName">User Name</label>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "userName" } })
                </div>
                <input class="btn btn-info" type="submit" value="Update" />
            }
        </div>
    </div>
</section>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Avatar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    @using (Html.BeginForm("Profiles", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "updateProfiles" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.email)
                        @Html.HiddenFor(model => model.name)
                        <div class="input-file">
                            <input type="file" name="inputAvatar" id="imgInp" form="updateProfiles" />
                            <label for="imgInp" class="input-label">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </label>
                        </div>
                    }
                    <div class="user-update-img">
                        <img id="blah" src="~/Content/images/User/default-profile.jpg" alt="your image" />
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" form="updateProfiles" class="btn btn-success">Upload</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
